@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#menu-button {
  min-width: 0;
  min-height: 0;
  width: auto;
  height: auto;
  list-style-image: url("chrome://compact/skin/blue.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

#PersonalToolbar #menu-button {
  padding-top: 0;
  padding-bottom: 0;
}

#menu-button:hover {
  -moz-image-region: rect(16px, 16px, 32px, 0px);
}

#menu-button[open="true"] {
  -moz-image-region: rect(32px, 16px, 48px, 0px);
}

#menu-button .toolbarbutton-icon {
  margin: 0;
}

toolbar #menu-button {
  -moz-box-orient: horizontal;
}

toolbar:not([mode="text"]) #menu-button .toolbarbutton-text,
toolbar:not([mode="text"]) #menu-button .toolbarbutton-menu-dropmarker {
  display: none;
}

#compact-menubar,
#compact-bk-menubar {
  -moz-appearance: none;
  border: 0;
  padding: 0;
  margin: 0;
}
