@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#menu-button {
  list-style-image: url("chrome://compact/skin/blue.png");
}

#compact-bk-button {
  list-style-image: url("chrome://compact/skin/bookmarks.png");
}

.compactbutton {
  min-width: 0;
  min-height: 0;
  width: auto;
  height: auto;
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

#PersonalToolbar .compactbutton {
  padding-top: 0;
  padding-bottom: 0;
}

.compactbutton:hover {
  -moz-image-region: rect(16px, 16px, 32px, 0px);
}

.compactbutton[open="true"] {
  -moz-image-region: rect(32px, 16px, 48px, 0px);
}

.compactbutton .toolbarbutton-icon {
  margin: 0;
  width: auto;
  height: auto;
}

toolbar .compactbutton {
  -moz-box-orient: horizontal;
}

toolbar:not([mode="text"]) .compactbutton .toolbarbutton-text,
toolbar:not([mode="text"]) .compactbutton .toolbarbutton-menu-dropmarker {
  display: none;
}

#compact-menubar,
#compact-bk-menubar {
  -moz-appearance: none;
  border: 0;
  padding: 0;
  margin: 0;
}

toolbar[collapsed="true"]:first-child + toolbar,
toolbar[collapsed="true"]:first-child + toolbar[collapsed="true"] + toolbar,
toolbar[collapsed="true"]:first-child + toolbar[collapsed="true"] + toolbar[collapsed="true"] + toolbar,
toolbar[collapsed="true"]:first-child + toolbar[collapsed="true"] + toolbar[collapsed="true"] + toolbar[collapsed="true"] + toolbar {
  border-top: 0px !important;
}

#compact-visible-menu-items {
  display: block;
}

#compact-appmenu-spacer {
  min-height: 1em;
}

/* for tabs in titlebar */
#toolbar-menubar[collapsed="true"][autohide="false"] {
  visibility: hidden !important;
  overflow: hidden !important;
  height: 0 !important;
  min-height: 0 !important;
}

@media all and (-moz-windows-classic) {
  #main-window[sizemode="normal"][tabsintitlebar="true"] > #titlebar {
    min-height: 30px;
  }
}

/* fix Personas */
@media all and (-moz-windows-classic) {
  #main-window[sizemode="normal"] > #titlebar:-moz-lwtheme,
  #main-window[sizemode="normal"] > #titlebar > #titlebar-content:-moz-lwtheme {
    background-image: inherit;
    background-position: inherit;
    visibility: hidden !important;
  }

  #main-window[sizemode="normal"] > #titlebar > #titlebar-content:-moz-lwtheme {
    box-shadow: 0 1px 0 0 threedlightshadow inset,
                0 2px 0 0 threedhighlight inset,
                0 4px 0 0 threedface inset;
    visibility: visible !important;
  }
}
